**
!LICENSE
!upstream.lock
!upstream/
!upstream/**
!extensions/
!extensions/**
!patches/
!patches/**
!scripts/
!scripts/overlay.py
!scripts/check.sh
!scripts/acceptance.sh
!console/
!console/**
!deploy/
!deploy/**
**/__pycache__/
**/*.pyc
